*{
  margin: 0;
  padding: 0;
}
body{
  /*background: linear-gradient(to left,#444444 50%,#161616 50%);*/
  background-color: #FFD700;
}
.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ball{
  width: 60px;
  height: 60px;
  /*background: linear-gradient(to top,#aa56e2 50%,#c964ff 50%);*/
  background-color: #FF0000;
  border-radius: 50%;
  position: relative;
  /*overflow: hidden;*/
  animation: animate 1s linear infinite;
}
@keyframes animate{
  0%{
    transform: translateY(0) rotate(0);
  }
  50%{
    transform: translateY(-150px) rotate(180deg);
    }
  100%{
    transform: translateX(150px) rotate(360deg);
  }
}
.ball::before{
  content: "";
  position: absolute;
  top: 42%;
  width: 100%;
  height: 10px;
  /*background: rgba(255, 255, 255, 0.292);*/
  background-color: #141414;
}
.shadow1{
  position: absolute;
  transform: translateX(152px) translateY(32px);
  width: 50px;
  height: 10px;
  z-index: -1;
  /*background: rgb(140, 140, 140);*/
  background-color: #141414;
  border-radius: 50%;
  animation: anim 1s linear infinite;
}
.shadow{
  position: absolute;
  transform: translateY(32px);
  width: 50px;
  height: 10px;
  z-index: -1;
  /*background: rgb(140, 140, 140);*/
  background-color: #141414;
  border-radius: 50%;
  animation: anim 1s linear infinite;
}
@keyframes anim{
  0%{
    width: 50px;
    opacity: 0.8;
  }
  50%{
    width: 20px;
    opacity: 0.3;
  }
  100% {
    width: 50px;
    opacity: 0.8;
  }
}
